.clickk {
  margin-left: 80px;
}
.clickk:hover {
  cursor: pointer;
}
ul li {
  font-weight: bold;
  font-style: italic;
}

ul li:hover {
  cursor: pointer;
  background-color: #4682b4;
  color: white;
}
