.notification_div_ {
  background-color: white;
  width: 372px;

  /* height: 200px; */
  color: #4682b4;
  transition: all 0.3s;
  margin: auto;
  border-radius: 7px;
  text-align: center;
  overflow-y: scroll;
  margin-top: 4px;
  margin-left: 150px;
}
ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
ul li {
  margin-bottom: 8px;
}
@media (max-width:680px){
  .notification_div_{
    margin-left: 0;
    width: 70%;
  }
}