.notification_div {
  background-color: rgb(134, 101, 101);
  width: 70%;
  /* height: 200px; */
  color: white;
  transition: all 0.3s;
  margin: auto;
  border-radius: 7px;
  text-align: center;
  overflow-y: scroll;
}
ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
