* {
  margin: 0;
  padding: 0;
}
.App {
  background-color: #282c34;
  background-image: url("../src/assest/Images/aditya-vyas-PzhmEp_aDU4-unsplash.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
}
